.fares {
  height: 100vh;
  background: linear-gradient(to right, antiquewhite, dodgerblue);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.9;
}

.fares__title {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  opacity: 0.9;
}

.fares h2 {
  margin-top: 20;
  margin-bottom: 20px;
}
