.MuiTabs-root {
  background-color: dodgerblue;
  border-radius: 20px !important;
}

.MuiTab-wrapper {
  color: white !important;
  font-size: 12px !important;
  text-shadow: 1px 1px 1px black;
}

.MuiPaper-root {
  background: linear-gradient(to right, antiquewhite, dodgerblue);
  font-size: 13px;
  border-radius: 20px;
}

.makeStyles-root-6 {
  transition: transform 50ms ease-out;
}

.MuiGrid-container:hover {
  transform: scale(1.02);
}

.MuiBox-root {
  padding-top: 10px !important;
}
