.home {
  height: 90vh;
}
.header {
  top: 0;
  z-index: 100;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-bottom: 2px;
}

.header__left {
  flex: 0.75;
  display: flex;
  justify-content: left;
  padding-left: 5px;
}

.header__right {
  flex: 0.25;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.header__right p {
  margin-right: 5px;
  color: darkcyan;
}

.header__left h1 {
  padding-left: 5px;
  color: dodgerblue;
  font-size: 24px;
  font-weight: 900;
  margin: 3px 0px;
}

.headerNav {
  top: 43px;
  z-index: 100;
  position: sticky;
  display: flex;
  justify-content: center;
  background-color: white;
}

.headerNavItem {
  width: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4px 0;
  margin: 0;
}

.headerNavItem a {
  text-decoration: none;
}

.headerNavItem p {
  font-size: 10px;
  color: #2c455d;
  margin: 0;
}

.headerNavItem :hover {
  color: crimson !important;
}

.header__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__avatar .MuiSvgIcon-root {
  margin-left: 5px;
  color: green !important;
}

.header__avatar .MuiAvatar-root {
  width: 25px !important;
  height: 25px !important;
}
