.about {
  /* height: 600vh; */
  justify-content: flex-start;
}
.geninfo,
.services,
.officers {
  text-align: center;
}

.officers__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px dashed rgb(190, 234, 240);
  margin-bottom: 10px;
}

.geninfo__details {
  display: flex;
  text-align: left;
}

.geninfo__title {
  width: 36%;
  text-align: right;
  color: darkcyan;
  margin-right: 5px;
}

.services__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.goals,
.purposes {
  padding-left: 30px;
}
