.fares {
  height: 100vh;
  background: linear-gradient(to bottom, antiquewhite, dodgerblue);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
}

.fares__title {
  color: dodgerblue;
  text-align: center;
  opacity: 0.8;
  text-shadow: 1px 1px 2px gray;
}

.fares h2 {
  margin-top: 20;
  margin-bottom: 20px;
}
