.officers {
  display: flex;
  justify-content: center;
}
.officers__container {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
  background-color: white;
  box-shadow: 0 3px 25px black;
  margin: 14px;
  border-radius: 20px;
  border: 1px solid #2c455d;
}

.officers img {
  height: 100px;
  width: 100px;
}

.officers__name {
  color: blue;
  font-size: 13px;
  font-weight: 600;
  text-shadow: 1px 1px 1px gray;
}

.officers__position {
  color: brown;
  font-size: 13px;
  font-weight: 400;
  text-shadow: 1px 1px 1px gray;
}

.officers__group {
  color: blue;
  font-size: 12px;
  font-weight: 400;
  text-shadow: 1px 1px 1px gray;
}

.officers__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
}

.Chairman,
.General {
  width: 400px;
}
