.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.portfolio__title {
  color: darkblue;
  text-align: center;
  opacity: 0.8;
  text-shadow: 1px 1px 2px gray;
}

.portfolio__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
}

.portfolio p {
  font-size: 13px;
}
