.services {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.services__title {
  color: dodgerblue;
  text-align: center;
  opacity: 0.8;
  text-shadow: 1px 1px 2px gray;
}

.services__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services p {
  font-size: 13px;
}
