.MuiTabs-root {
  background-color: lightblue;
}

.MuiTab-wrapper {
  color: brown !important;
  font-size: 12px !important;
}

.MuiPaper-root {
  background-color: rgb(203, 240, 203) !important;
  font-size: 13px;
}

.makeStyles-root-6 {
  transition: transform 50ms ease-out;
}

.MuiGrid-container:hover {
  transform: scale(1.02);
}

.MuiBox-root {
  padding-top: 10px !important;
}
